.scroll{
    width: 650px;
    height: 100px;
}

.scroll-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-scroll1 {
    height: 30px;
    width: 400px;
}


.input-scroll2 {
    font-size: 35px;
}
